# Springboard Data Science Track Notes
--------------------------------------
### Program Start Date: 07/10/2023 - Expected End Date 12/10/2023
--------------------------------------

#### DataCamp Courses completed so far
- Introduction to Python
- Data Types for Data Science in Python
- Intermediate Python
- Python Data Science Toolbox (Part 1)
- Joining Data with Pandas
- Data Manipulation with Pandas

07/03/2023

- Explored setting the path for anaconda3, using HomeBrew to install via the terminal, connecting Github to Jupyter/Local Drive
- Intro to Data Science
    - OSEMN, REPL, and ECRD
    - OSEMN: Obtain data, Scrub data, Explore data, Model data, iNterpret data
    - REPL: Read, Evaluate, Print, Loop <- Command Line
    - ECRD: Edit, Compile, Run, Debug <- Scripts & Large Programs

07/05/2023

- Explored Docker containers but put it on the backburner (not needed just yet) 
- Explored mapping local dir -> datasci@commanndline to Docker container -> /home/dst

07/06/2023

- Explored command line via terminal on MacOS, zsh
- Continued DataCamp courses (see above for list of completed courses)

07/07/2023 - 07/10/2023 Statistics & Probability Review

- Measures of central tendency (ie Mean, Median, Mode)
    - Left Skewed vs Right Skewed vs Normal 
- Variance & Standard Deviation
- Completed Intro to Shell on DataCamp

#### CRISP-DM | CRoss Industry Standard Process for Data Mining 
Industry Approach
Link: https://www.datascience-pm.com/crisp-dm-2/
- Outline
    - Business understanding – What does the business need?
    - Data understanding – What data do we have / need? Is it clean?
    - Data preparation – How do we organize the data for modeling?
    - Modeling – What modeling techniques should we apply?
    - Evaluation – Which model best meets the business objectives?
    - Deployment – How do stakeholders access the results?

#### Springboard Approach
Academic Approach
Link: https://www.springboard.com/blog/data-science/data-science-process/
- Outline
    - Problem Id'ing
    - Data Wrangling
    - Exploratory Data Analysis
    - Pre-processing & Training Data
    - Modelling
    - Documentation

07/11/2023
- Started Monalco Mining Case Study 
- See /Users/frankyaraujo/Desktop/Springboard/"2023 July 11 _ Monalco Problem Statement _ Franky Araujo _.key"

07/12/2023 - Took a break

07/13/2023
- Finished & Submitted Monalco Mining Case Study
- Continued Springboard curriculum

07/14/2023
- Continued Springboard curriculum
- Met with career coach, Mike Hernandez

07/15/2023 - 07/20/2023 
- Python courses on Datacamp
    - Data Types for Data Science in Python
- General Python practice & review
- Completed Career Strategy Plan

07/21/2023 - Took a break to host at home

07/22/2023 - 7/27/2023 
- Intro to Kaggle
- Python courses, working with Pandas

07/27/2023
- Completed Data Manipulation with Pandas

In [60]:
import pandas as pd
#Example DF to show how the following code works
data = {
    'EmployeeID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'EmployeeName': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'ManagerID': [3, 3, 4, 4, 5, 6, 6, 7, 7, 8],
    'HireDate': ['2018-02-05', '2017-04-01', '2012-06-15', '2010-06-12', '2016-04-23', '2019-09-10', '2020-03-20', '2015-08-08', '2018-11-16', '2021-02-28'],
    'Salary': [60000, 55000, 75000, 80000, 65000, 70000, 72000, 68000, 63000, 59000]
}


df=pd.DataFrame(data)

#Displaying Data Frame

print(df)
print(df.head()) #returns the first few rows of the dataset
print(df.describe()) #The describe method computes some summary statistics for numerical columns,
print(df.info()) #The info method displays the names of columns, the data types they contain, and whether they have any missing values
print(df.values,"\n", df.columns,"\n", df.index)

#Aggregating DataFrames

print(df['Salary'].cummax())
print(df['Salary'].cummin())
print(df['Salary'].cumsum())
print(df['Salary'].cumprod())

df['Bonus']=df['Salary']*.06

print(df[['Salary','Bonus']].agg([sum,max, min])) 
# The .agg() method allows you to apply your own custom functions to a DataFrame, 
# as well as apply functions to more than one column of a DataFrame at once, 
# making your aggregations super-efficient. For example, df['column'].agg(function)

df['EmployeeName'].value_counts()
#Note: Before counting values, make sure to clear out
#duplicates using df.drop_duplicates(subset="column")

print(df.groupby('EmployeeName')[["Salary","Bonus"]].agg(sum)) # Example of groupby

print(df.pivot_table(values='Salary',index='HireDate',columns='EmployeeID',sort=True, fill_value='-'))
# Example of .pivot_table

   EmployeeID EmployeeName  ManagerID    HireDate  Salary
0           1        Alice          3  2018-02-05   60000
1           2          Bob          3  2017-04-01   55000
2           3      Charlie          4  2012-06-15   75000
3           4        David          4  2010-06-12   80000
4           5          Eve          5  2016-04-23   65000
5           6        Frank          6  2019-09-10   70000
6           7        Grace          6  2020-03-20   72000
7           8        Helen          7  2015-08-08   68000
8           9          Ivy          7  2018-11-16   63000
9          10         Jack          8  2021-02-28   59000
   EmployeeID EmployeeName  ManagerID    HireDate  Salary
0           1        Alice          3  2018-02-05   60000
1           2          Bob          3  2017-04-01   55000
2           3      Charlie          4  2012-06-15   75000
3           4        David          4  2010-06-12   80000
4           5          Eve          5  2016-04-23   65000
       EmployeeID  ManagerID        Salary
count    10.00000  10.000000     10.000000
mean      5.50000   5.300000  66700.000000
std       3.02765   1.766981   7775.317071
min       1.00000   3.000000  55000.000000
25%       3.25000   4.000000  60750.000000
50%       5.50000   5.500000  66500.000000
75%       7.75000   6.750000  71500.000000
max      10.00000   8.000000  80000.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EmployeeID    10 non-null     int64
 1   EmployeeName  10 non-null     object
 2   ManagerID     10 non-null     int64
 3   HireDate      10 non-null     object
 4   Salary        10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes
None
[[1 'Alice' 3 '2018-02-05' 60000]
 [2 'Bob' 3 '2017-04-01' 55000]
 [3 'Charlie' 4 '2012-06-15' 75000]
 [4 'David' 4 '2010-06-12' 80000]
 [5 'Eve' 5 '2016-04-23' 65000]
 [6 'Frank' 6 '2019-09-10' 70000]
 [7 'Grace' 6 '2020-03-20' 72000]
 [8 'Helen' 7 '2015-08-08' 68000]
 [9 'Ivy' 7 '2018-11-16' 63000]
 [10 'Jack' 8 '2021-02-28' 59000]]
 Index(['EmployeeID', 'EmployeeName', 'ManagerID', 'HireDate', 'Salary'], dtype='object')
 RangeIndex(start=0, stop=10, step=1)
0    60000
1    60000
2    75000
3    80000
4    80000
5    80000
6    80000
7    80000
8    80000
9    80000
Name: Salary, dtype: int64
0    60000
1    55000
2    55000
3    55000
4    55000
5    55000
6    55000
7    55000
8    55000
9    55000
Name: Salary, dtype: int64
0     60000
1    115000
2    190000
3    270000
4    335000
5    405000
6    477000
7    545000
8    608000
9    667000
Name: Salary, dtype: int64
0                  60000
1             3300000000
2        247500000000000
3    1353255926290448384
4    7559465432002854912
5    -720258232353816576
6   -4795138277243879424
7   -4754605693766467584
8   -1928438391758651392
9    1652332880082239488
Name: Salary, dtype: int64
     Salary    Bonus
sum  667000  40020.0
max   80000   4800.0
min   55000   3300.0
              Salary   Bonus
EmployeeName
Alice          60000  3600.0
Bob            55000  3300.0
Charlie        75000  4500.0
David          80000  4800.0
Eve            65000  3900.0
Frank          70000  4200.0
Grace          72000  4320.0
Helen          68000  4080.0
Ivy            63000  3780.0
Jack           59000  3540.0
EmployeeID       1        2        3        4        5        6        7   \
HireDate
2010-06-12        -        -        -  80000.0        -        -        -
2012-06-15        -        -  75000.0        -        -        -        -
2015-08-08        -        -        -        -        -        -        -
2016-04-23        -        -        -        -  65000.0        -        -
2017-04-01        -  55000.0        -        -        -        -        -
2018-02-05  60000.0        -        -        -        -        -        -
2018-11-16        -        -        -        -        -        -        -
2019-09-10        -        -        -        -        -  70000.0        -
2020-03-20        -        -        -        -        -        -  72000.0
2021-02-28        -        -        -        -        -        -        -

EmployeeID       8        9        10
HireDate
2010-06-12        -        -        -
2012-06-15        -        -        -
2015-08-08  68000.0        -        -
2016-04-23        -        -        -
2017-04-01        -        -        -
2018-02-05        -        -        -
2018-11-16        -  63000.0        -
2019-09-10        -        -        -
2020-03-20        -        -        -
2021-02-28        -        -  59000.0

07/28/2023 - 07/29/2023
- Started Joining Data with pandas
    - df.merge
        - Left Join, brings data from df2 to df1 and keeps all data in df1, df1.merge(df2, on="column", how="left" ...)
        - Right Join, similar to above except how ="right"and all df2 data stays while data from df1 is added based on -> on = "column"
        - Inner Join,set how="inner",this only keeps select data from df1 and df2 based on -> on="column"
        - Outer Join, set how="outer", this takes all data from df1 and df2 but fills missing values with NaN (Not a Number) 
        - Self Join, combine data to itself when there is related data within the dame dataset. For example, combining related rows into a single column:    
<code>
        <code>import pandas as pd

      <code>  #Sample DataFrame
      <code>  data = {
      <code>      'EmployeeID': [1, 2, 3, 4, 5],
      <code>      'EmployeeName': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
      <code>      'ManagerID': [3, 3, 4, 4, 5]
      <code>  }
          
      <code>  df = pd.DataFrame(data)
      <code>  print(df)

        **Output:**
       <code>         EmployeeID EmployeeName  ManagerID
      <code>  0           1       Alice          3
      <code>  1           2         Bob          3
       <code> 2           3     Charlie          4
      <code>  3           4       David          4
       <code> 4           5         Eve          5


       <code> #Self-Join
       <code> result_self_join = df.merge(df, left_on='ManagerID', right_on='EmployeeID', suffixes=('_Employee', '_Manager'))

      <code>  #Selecting relevant columns
      <code>  result_self_join = result_self_join[['EmployeeName_Employee', 'EmployeeName_Manager']]

      <code> print(result_self_join)

        **Output:**
       <code>        EmployeeName_Employee EmployeeName_Manager
      <code>  0                 Alice             Charlie
      <code>  1                   Bob             Charlie
      <code>  2               Charlie               David
      <code>  3                 David               David
      <code>  4                   Eve                 Eve
        <code>
        - Semi-join effectively filters out rows in df1 based on their existence in df2, providing a subset of the original DataFrame that meets the matching condition.
        <code>
        import pandas as pd

       <code> #Sample DataFrame for employees
       <code> data1 = {
       <code>     'EmployeeID': [1, 2, 3, 4, 5],
       <code>     'EmployeeName': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
       <code> }
       <code> df1 = pd.DataFrame(data1)
       <code> #Sample DataFrame with additional information for specific employees
       <code> data2 = {
           
       <code>     'EmployeeID': [2, 4, 5],
       <code>     'Age': [25, 30, 22]
           
       <code> }

      <code> df2 = pd.DataFrame(data2)
        
      <code>      EmployeeID EmployeeName
      <code>  0           1       Alice
      <code>  1           2         Bob
      <code>  2           3     Charlie
      <code>  3           4       David
      <code>  4           5         Eve

      <code>     EmployeeID  Age
      <code>  0           2   25
      <code>  1           4   30
      <code>  2           5   22


      <code>  #Semi-Join
      <code>  result_semi_join = df1.merge(df2, on='EmployeeID', how='inner')

      <code>  print(result_semi_join)

      <code>    EmployeeID EmployeeName  Age
      <code>   0           2         Bob   25
      <code>   1           4       David   30
      <code>  2           5         Eve   22
      <code>  
        - Anti-join is a type of join operation that returns only the rows from the left DataFrame (or the original DataFrame) that do not have matching rows in the right DataFrame based on a common column or set of columns.
            - Here's how the anti-join process works step-by-step:

                1. Perform the Merge:

                In pandas, you use the .merge() method (or pd.merge() function) to combine two DataFrames based on one or more common columns.
                When performing an anti-join, you typically use a left join (how='left') to keep all rows from the left DataFrame and only the matching rows from the right DataFrame. This includes rows with matching values in the merging column(s) from both DataFrames.
                
                2. Indicate Match Status:

                After the merge, a new column (by default named _merge) is added to the resulting DataFrame that indicates the match status for each row.
                The _merge column takes three possible values: 'both' if the row has a match in both DataFrames, 'left_only' if the row has a match only in the left DataFrame, and 'right_only' if the row has a match only in the right DataFrame.
                
                3. Filter Rows:

                To obtain the anti-join result, you filter out the rows where _merge is 'both', meaning they have matching values in both DataFrames. The resulting DataFrame will contain only the rows that have no corresponding matches.<code>
                import pandas as pd
    <code>
                #Sample DataFrames
                df1 = pd.DataFrame({'KeyColumn': [1, 2, 3, 4, 5], 'ColumnA': ['A', 'B', 'C', 'D', 'E']})
                df2 = pd.DataFrame({'KeyColumn': [2, 4], 'ColumnB': ['X', 'Y']})
    <code>
                #Anti-Join
                result_anti_join = df1.merge(df2, on='KeyColumn', how='left', indicator=True)
                result_anti_join = result_anti_join[result_anti_join['_merge'] == 'left_only']
                result_anti_join.drop(['ColumnB', '_merge'], axis=1, inplace=True)
    <code>
                print(result_anti_join)
>

7/29/2023 Continued...
#### Examples of how .query, .concat, .merge_ordered, .merge_asof, and .melt work in Python

In [90]:
import pandas as pd

# Sample DataFrame
data1 = {
    'Name': ['John', 'Jane', 'Mike', 'Alice', 'Bob'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'San Francisco', 'Chicago', 'Los Angeles', 'Seattle']
}

data2 = {
    'Name': ['Emily', 'Jack', 'Emma', 'James', 'Olivia'],
    'Age': [28, 24, 27, 26, 29],
    'City': ['London', 'New York', 'Paris', 'Los Angeles', 'Sydney'],
    'Sex': ['Female', 'Male', 'Female', 'Male', 'Female']
}

ExampleDf1 = pd.DataFrame(data1)
print("Example Data Set #1\n",ExampleDf,"\n")
ExampleDf2 = pd.DataFrame(data2)
print("Example Data Set #2\n",ExampleDf2,"\n")

#DF.QUERY
filtered_ExampleDf = ExampleDf.query("Age >30 or City == 'Los Angeles'")
print("After df.query applied to Data Set #1\n\n",filtered_ExampleDf)

#PD.CONCAT
concat_Examples = pd.concat([ExampleDf1,ExampleDf2], axis=0,join='inner')
print("\nAfter df.concat applied to Data Set #1 & Data Set #2\n\n",concat_Examples)

#PD.MERGE_ORDERED
ordered_join_Examples = pd.merge_ordered(left=ExampleDf1, right=ExampleDf2, left_on="City", right_on="Name", suffixes=['DataSet1','DataSet2'])
print("\nAfter df.merge_ordered applied to Data Set #1 and Data Set #2\n...left_on=\"City\", right_on=\"Name\"\n\n", ordered_join_Examples)

#PD.MERGE_ASOF > The merge_asof function finds the nearest match in the right DataFrame for each row in the left DataFrame based on the specified key column. 
#It returns a merged DataFrame with the matched rows and their corresponding values from the right DataFrame.
#IMPORTANT: Must be found in both DataFrames. The data MUST be ordered. Furthermore this must be a numeric column, such as datetimelike, integer, or float.
mergeasof_Examples = pd.merge_asof(ExampleDf1.sort_values('Age'),ExampleDf2.sort_values('Age'), on='Age')
print("\nAfter df.merge_asof applied to Data Set #1 and Data Set #2\n...left_on=\"Age\"\n\n", mergeasof_Examples)

#.MELT
 Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6
    
    >>> pd.melt(df, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    
    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6
    
    The names of 'variable' and 'value' columns can be customized:
    
    >>> pd.melt(df, id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

Example Data Set #1
     Name  Age           City
0   John   25       New York
1   Jane   30  San Francisco
2   Mike   22        Chicago
3  Alice   28    Los Angeles
4    Bob   35        Seattle

Example Data Set #2
      Name  Age         City     Sex
0   Emily   28       London  Female
1    Jack   24     New York    Male
2    Emma   27        Paris  Female
3   James   26  Los Angeles    Male
4  Olivia   29       Sydney  Female

After df.query applied to Data Set #1

     Name  Age         City
3  Alice   28  Los Angeles
4    Bob   35      Seattle

After df.concat applied to Data Set #1 & Data Set #2

      Name  Age           City
0    John   25       New York
1    Jane   30  San Francisco
2    Mike   22        Chicago
3   Alice   28    Los Angeles
4     Bob   35        Seattle
0   Emily   28         London
1    Jack   24       New York
2    Emma   27          Paris
3   James   26    Los Angeles
4  Olivia   29         Sydney

After df.merge_ordered applied to Data Set #1 and Data Set #2
...left_on="City", right_on="Name"

   NameDataSet1  AgeDataSet1   CityDataSet1 NameDataSet2  AgeDataSet2  \
0         Mike         22.0        Chicago          NaN          NaN
1          NaN          NaN            NaN        Emily         28.0
2          NaN          NaN            NaN         Emma         27.0
3          NaN          NaN            NaN         Jack         24.0
4          NaN          NaN            NaN        James         26.0
5        Alice         28.0    Los Angeles          NaN          NaN
6         John         25.0       New York          NaN          NaN
7          NaN          NaN            NaN       Olivia         29.0
8         Jane         30.0  San Francisco          NaN          NaN
9          Bob         35.0        Seattle          NaN          NaN

  CityDataSet2     Sex
0          NaN     NaN
1       London  Female
2        Paris  Female
3     New York    Male
4  Los Angeles    Male
5          NaN     NaN
6          NaN     NaN
7       Sydney  Female
8          NaN     NaN
9          NaN     NaN

After df.merge_asof applied to Data Set #1 and Data Set #2
...left_on="Age"

   Name_x  Age         City_x  Name_y    City_y     Sex
0   Mike   22        Chicago     NaN       NaN     NaN
1   John   25       New York    Jack  New York    Male
2  Alice   28    Los Angeles   Emily    London  Female
3   Jane   30  San Francisco  Olivia    Sydney  Female
4    Bob   35        Seattle  Olivia    Sydney  Female